absl-py==2.1.0
addict==2.4.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
albucore==0.0.13
albumentations==1.4.13
annotated-types==0.7.0
anyio==4.4.0
appnope==0.1.4
asgiref==3.8.1
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
backcall==0.2.0
basicsr==1.4.2
beautifulsoup4==4.12.3
bleach==6.1.0
blessed==1.20.0
cachetools==5.5.0
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
coloredlogs==15.0.1
comm==0.2.2
ConfigArgParse==1.7
contourpy==1.2.1
coverage==7.6.1
ctk==0.1
customtkinter==5.2.2
cycler==0.12.1
Cython==3.0.11
darkdetect==0.8.0
dataclasses-json==0.6.7
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20230430
diskcache==5.6.3
distro==1.9.0
dj-database-url==2.2.0
Django==5.1.1
django-cors-headers==4.4.0
django-extensions==3.2.3
djangorestframework==3.15.2
docopt==0.6.2
drf-nested-routers==0.94.1
drf-spectacular==0.27.2
easydict==1.13
editor==1.6.6
engineering-notation==0.10.0
eval_type_backport==0.2.0
executing==2.0.1
facexlib==0.3.0
faiss-cpu==1.8.0.post1
fastjsonschema==2.20.0
filelock==3.16.1
filterpy==1.4.5
flatbuffers==24.3.25
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.9.0
future==1.0.0
gast==0.6.0
gdown==5.2.0
gfpgan==1.3.8
git-python==1.0.3
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.142.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
google-pasta==0.2.0
googleapis-common-protos==1.63.2
grpcio==1.65.4
grpcio-status==1.62.3
h11==0.14.0
h5py==3.11.0
html2image==2.0.4.3
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.24.6
humanfriendly==10.0
idna==3.10
imageio==2.34.2
importlib_metadata==8.2.0
importlib_resources==6.4.5
inflection==0.5.1
iniconfig==2.0.0
inquirer==3.4.0
insightface==0.7.3
ipykernel==6.29.5
ipython==8.12.3
jedi==0.19.1
Jinja2==3.1.4
jiter==0.5.0
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
keras==3.4.1
kiwisolver==1.4.5
langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.24
langchain-openai==0.1.17
langchain-text-splitters==0.2.2
langsmith==0.1.93
lazy_loader==0.4
Levenshtein==0.25.1
lib_resume_builder_AIHawk @ git+https://github.com/feder-cr/lib_resume_builder_AIHawk.git@d32cc06b9953cee81c3e711dedde4dfe24455480
libclang==18.1.1
litellm==1.44.5
llvmlite==0.43.0
lmdb==1.5.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.9.1.post1
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.4.0
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
onnx==1.16.0
onnxruntime==1.18.1
open-interpreter==0.3.8
openai==1.51.2
opencv-python==4.8.1.78
opencv-python-headless==4.10.0.84
opennsfw2==0.10.2
opt-einsum==3.3.0
optree==0.12.1
orjson==3.10.7
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pipreqs==0.5.0
platformdirs==4.2.2
pluggy==1.5.0
prettytable==3.10.2
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==4.23.2
psutil==5.9.6
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybind11==2.13.4
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydub==0.25.1
pyflakes==3.2.0
Pygments==2.18.0
pypandoc==1.13
pyparsing==3.1.2
pyperclip==1.9.0
PySocks==1.7.1
pytest==8.3.3
pytest-cov==5.0.0
pytest-django==4.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
rapidfuzz==3.9.6
readchar==4.2.0
referencing==0.35.1
regex==2024.7.24
reportlab==4.2.2
requests==2.32.3
rich==13.7.1
rpds-py==0.20.0
rsa==4.9
runs==1.2.2
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.13.1
selenium==4.9.1
Send2Trash==1.8.3
setuptools==72.1.0
shortuuid==1.0.13
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.32
sqlparse==0.5.1
stack-data==0.6.3
starlette==0.37.2
sympy==1.13.1
tb-nightly==2.18.0a20240810
tenacity==8.5.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
termcolor==2.3.0
threadpoolctl==3.5.0
tifffile==2024.7.24
tiktoken==0.7.0
tinycss2==1.3.0
tk==0.1.0
tk-tools==0.16.0
tokenizers==0.20.0
tokentrim==0.1.13
toml==0.10.2
tomli==2.0.1
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
tree-sitter==0.21.3
trio==0.26.2
trio-websocket==0.11.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.3
wcwidth==0.2.13
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
wget==3.2
wheel==0.44.0
wrapt==1.16.0
wsproto==1.2.0
xmod==1.8.1
yapf==0.40.2
yarg==0.1.9
yarl==1.9.4
yaspin==3.0.2
zipp==3.20.2
